.card {
    text-align: justify;
}
.card .card-title {
    text-align: left;
    font-weight: lighter;
}

.card .card-value {
    font-size: 1.1rem;
}

.card .card-target {
    font-size: 1rem;
    font-weight: lighter;
}

.card .card-diff-down {
    color: red
}

.card .card-diff-up {
    color: green
}

